.container-fluid {
  background: transparent;
}

.cards {
  width: 100%;
  height: 85%;
  background-color: lightgray;
  padding-left: 8px;
  padding-right: 8px;
}

.Funciones {
  color: teal;
  align-items: center;
}

.tarjeta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.card {
  height: 60%;
  width: 98%;
}

.card:hover {
  box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
}

.time-text {
  font-size: 28px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

.day-text {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  margin-top: 4px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}

strong {
  color: teal;
  text-transform: uppercase;
  text-align: justify;
}

